#content{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #dddddd;
  font-family: sans-serif;
}
#content > h1{
  padding-top: 10px;
}
#metadata-file{
  display: inline;
}